@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marqueeScroll 25s linear infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-outfit), sans-serif;
}
